In [906]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from datetime import datetime
from urllib.request import urljoin
import time
import random
import copy
import pickle
import sys

In [23]:
#url = 'https://www.imdb.com/search/keyword/?mode=advanced&page=1&ref_=kw_nxt&sort=year,desc&title_type=movie&genres=Sci-Fi&release_date=1979%2C2019'
url = 'https://www.imdb.com/search/keyword/?mode=advanced&page=1&ref_=kw_ref_yr&title_type=movie&release_date=1989%2C2019&sort=year,asc&num_votes=10000%2C'
response = requests.get(url)

In [24]:
response.status_code  #200 = success!

200

In [39]:
# def read_url(url):
#     response = requests.get(url)
#     page=response.text
#     soup=BeautifulSoup(page,'lxml')
#     return soup

In [232]:
# i_scores = []

# for url in url_list:
#     scores = read_url(url).find_all("div", {"class": "lister-item-content"})
#     for p in scores:
#         try:
#             if p.find('div')['class'] == ['ratings-bar']:
#                 i_scores.append(float(p.find('div',{'class':'ratings-bar'}).find('strong').get_text()))
#         except:
#             i_scores.append(np.nan)

In [907]:
from requests import get

#url = 'https://www.imdb.com/search/keyword/?mode=advanced&page=1&ref_=kw_nxt&sort=year,desc&title_type=movie&genres=Sci-Fi&release_date=1979%2C2019'
url = 'https://www.imdb.com/search/keyword/?mode=advanced&page=1&ref_=kw_ref_yr&title_type=movie&release_date=1989%2C2019&sort=year,asc&num_votes=10000%2C'
response = get(url)

In [908]:
soup = BeautifulSoup(response.text, 'lxml')

In [909]:
movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')
print(type(movie_containers))
print(len(movie_containers))

<class 'bs4.element.ResultSet'>
50

In [910]:
#movie_containers.find('div', class_='lister-item-content')
first_movie = soup.find('div', class_='lister-item mode-advanced')

In [911]:
first_movie.div

<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt0097815"></div>
</div>

In [353]:
first_name = first_movie.h3.a.text

In [354]:
first_year = first_movie.h3.find('span', class_ = 'lister-item-year text-muted unbold').text

In [355]:
first_imdb = float(first_movie.strong.text)

In [356]:
first_metascore = first_movie.find('span', class_ = 'metascore favorable')
first_metascore = int(first_metascore.text)

In [358]:
first_votes = first_movie.find('span', attrs = {'name':'nv'})
first_votes = int(first_votes['data-value'])

In [ ]:
first_runtime = first_movie.find('p', class_='text-muted').find('span', class_='runtime').text

In [517]:
first_certificate = first_movie.find('p', class_='text-muted').find('span', class_='certificate').text

'TV-MA'

In [541]:
first_genres = first_movie.find('p', class_='text-muted').find('span', class_='genre').text.split()

['\nHorror', ' Sci-Fi', ' Thriller            ']

In [442]:
first_director = first_movie.find('div', class_='lister-item-content').find('p', class_="").a.text # picks up only one director
first_director

'Galder Gaztelu-Urrutia'

In [461]:
#first_stars = first_movie.find('div', class_='lister-item-content').find('p', class_="").find_all()
first_stars = first_movie.find('div', class_='lister-item-content').find('p', class_="").find_all('a')[1:] # may pick up any co-directors
first_stars = [a.text for a in first_stars]
first_stars

['Ivan Massagu√©', 'Zorion Eguileor', 'Antonia San Juan', 'Emilio Buale']

In [912]:
names = []
years = []
imdb_ratings = []
metascores = []
votes = []
runtimes = []
certificates = []
genres = []
directors = []
stars = []

In [913]:
#url = 'https://www.imdb.com/search/keyword/?mode=advanced&page=1&ref_=kw_nxt&sort=year,desc&title_type=movie&genres=Sci-Fi&release_date=1979%2C2019'
url = 'https://www.imdb.com/search/keyword/?mode=advanced&page=1&ref_=kw_ref_yr&title_type=movie&release_date=1989%2C2019&sort=year,asc&num_votes=10000%2C'
response = get(url)
soup = BeautifulSoup(response.text, 'lxml')
movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')

for container in movie_containers:
    # If the movie has Metascore, then extract:
    if container.find('div', class_ = 'ratings-metascore') is not None: # or container.find('span', attrs = {'name':'nv'})['data-value'] is not None:
        name = container.h3.a.text
        names.append(name)
        year = container.h3.find('span', class_ = 'lister-item-year').text
        years.append(year)
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)
        m_score = container.find('span', class_ = 'metascore').text
        metascores.append(int(m_score))
        vote = container.find('span', attrs = {'name':'nv'})['data-value']
        votes.append(int(vote))
        
        runtime = container.find('p', class_='text-muted').find('span', class_='runtime').text
        runtimes.append(runtime)
        
        certificate = container.find('p', class_='text-muted').find('span', class_='certificate').text
        certificates.append(certificate)
        
        genre = container.find('p', class_='text-muted').find('span', class_='genre').text.split()
        genres.append(genre)
        
        director = container.find('div', class_='lister-item-content').find('p', class_="").a.text # picks up only one director
        directors.append(director)
        star = container.find('div', class_='lister-item-content').find('p', class_="").find_all('a')[1:] # may pick up any co-directors
        star = [a.text for a in star]   
        stars.append(star)

In [914]:
test_df = pd.DataFrame({'movie': names,
'year': years,
'imdb': imdb_ratings,
'metascore': metascores,
'votes': votes,
'runtime': runtimes,
'certificate': certificates,
'genre': genres,
'director': directors,
'stars': stars                        
})
print(test_df.info())
test_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie        48 non-null     object
 1   year         48 non-null     object
 2   imdb         48 non-null     float64
 3   metascore    48 non-null     int64
 4   votes        48 non-null     int64
 5   runtime      48 non-null     object
 6   certificate  48 non-null     object
 7   genre        48 non-null     object
 8   director     48 non-null     object
 9   stars        48 non-null     object
dtypes: float64(1), int64(2), object(7)
memory usage: 3.9+ KB
None

,movie,year,imdb,metascore,votes,runtime,certificate,genre,director,stars
0,Major League,(1989),7.2,62,59421,107 min,R,"[Comedy,, Sport]",David S. Ward,"[Tom Berenger, Charlie Sheen, Corbin Bernsen, ..."
1,Indiana Jones and the Last Crusade,(1989),8.2,65,662755,127 min,PG-13,"[Action,, Adventure]",Steven Spielberg,"[Harrison Ford, Sean Connery, Alison Doody, De..."
2,Licence to Kill,(1989),6.6,58,90114,133 min,PG-13,"[Action,, Adventure,, Thriller]",John Glen,"[Timothy Dalton, Robert Davi, Carey Lowell, Ta..."
3,Dead Poets Society,(1989),8.1,79,397339,128 min,PG,"[Comedy,, Drama]",Peter Weir,"[Robin Williams, Robert Sean Leonard, Ethan Ha..."
4,Batman,(1989),7.5,69,326245,126 min,PG-13,"[Action,, Adventure]",Tim Burton,"[Michael Keaton, Jack Nicholson, Kim Basinger,..."
5,"Honey, I Shrunk the Kids",(1989),6.3,63,136578,93 min,PG,"[Adventure,, Comedy,, Family]",Joe Johnston,"[Rick Moranis, Matt Frewer, Marcia Strassman, ..."
6,Back to the Future Part II,(1989),7.8,57,452459,108 min,PG,"[Adventure,, Comedy,, Sci-Fi]",Robert Zemeckis,"[Michael J. Fox, Christopher Lloyd, Lea Thomps..."
7,The Little Mermaid,(1989),7.6,88,226241,83 min,G,"[Animation,, Family,, Fantasy]",Ron Clements,"[John Musker, Jodi Benson, Samuel E. Wright, R..."
8,Road House,(1989),6.6,36,59245,114 min,R,"[Action,, Thriller]",Rowdy Herrington,"[Patrick Swayze, Kelly Lynch, Sam Elliott, Ben..."
9,Heathers,(1989),7.2,72,83394,103 min,R,"[Comedy,, Crime]",Michael Lehmann,"[Winona Ryder, Christian Slater, Shannen Doher..."
10,Pet Sematary,(1989),6.6,38,90239,103 min,R,"[Horror,, Thriller]",Mary Lambert,"[Dale Midkiff, Denise Crosby, Fred Gwynne, Bra..."
11,Say Anything...,(1989),7.3,85,79569,100 min,PG-13,"[Comedy,, Drama,, Romance]",Cameron Crowe,"[John Cusack, Ione Skye, John Mahoney, Lili Ta..."
12,The Abyss,(1989),7.6,62,156833,171 min,PG-13,"[Adventure,, Drama,, Mystery]",James Cameron,"[Ed Harris, Mary Elizabeth Mastrantonio, Micha..."
13,Uncle Buck,(1989),7.0,51,80767,100 min,PG,[Comedy],John Hughes,"[John Candy, Macaulay Culkin, Jean Louisa Kell..."
14,Steel Magnolias,(1989),7.3,56,44519,117 min,PG,"[Comedy,, Drama,, Romance]",Herbert Ross,"[Shirley MacLaine, Olympia Dukakis, Sally Fiel..."
15,When Harry Met Sally...,(1989),7.6,76,185908,95 min,R,"[Comedy,, Drama,, Romance]",Rob Reiner,"[Billy Crystal, Meg Ryan, Carrie Fisher, Bruno..."
16,Do the Right Thing,(1989),7.9,92,80010,120 min,R,"[Comedy,, Drama]",Spike Lee,"[Danny Aiello, Ossie Davis, Ruby Dee, Richard ..."
17,Bill & Ted's Excellent Adventure,(1989),6.9,44,105144,90 min,PG,"[Adventure,, Comedy,, Music]",Stephen Herek,"[Keanu Reeves, Alex Winter, George Carlin, Ter..."
18,Kiki's Delivery Service,(1989),7.9,83,110926,103 min,G,"[Animation,, Adventure,, Drama]",Hayao Miyazaki,"[Kirsten Dunst, Minami Takayama, Rei Sakuma, K..."
19,Leviathan,(1989),5.8,51,17620,98 min,R,"[Adventure,, Horror,, Mystery]",George P. Cosmatos,"[Peter Weller, Richard Crenna, Amanda Pays, Da..."
20,Field of Dreams,(1989),7.5,57,103671,107 min,PG,"[Drama,, Family,, Fantasy]",Phil Alden Robinson,"[Kevin Costner, James Earl Jones, Ray Liotta, ..."
21,Harlem Nights,(1989),6.1,16,19367,116 min,R,"[Comedy,, Crime,, Drama]",Eddie Murphy,"[Eddie Murphy, Richard Pryor, Redd Foxx, Danny..."
22,The 'Burbs,(1989),6.9,45,64843,102 min,PG,"[Comedy,, Mystery,, Thriller]",Joe Dante,"[Tom Hanks, Bruce Dern, Carrie Fisher, Corey F..."
23,Glory,(1989),7.8,78,116251,122 min,R,"[Biography,, Drama,, History]",Edward Zwick,"[Matthew Broderick, Denzel Washington, Cary El..."
24,Lethal Weapon 2,(1989),7.2,70,155568,114 min,R,"[Action,, Crime,, Thriller]",Richard Donner,"[Mel Gibson, Danny Glover, Joe Pesci, Patsy Ke..."
25,"Sex, Lies, and Videotape",(1989),7.2,86,47115,100 min,R,[Drama],Steven Soderbergh,"[James Spader, Andie MacDowell, Peter Gallaghe..."
26,Parenthood,(1989),7.0,82,42796,124 min,PG-13,"[Comedy,, Drama]",Ron Howard,"[Steve Martin, Mary Steenburgen, Dianne Wiest,..."
27,Driving Miss Daisy,(1989),7.4,81,94231,99 min,PG,[Drama],Bruce Beresford,"[Morgan Freeman, Jessica Tandy, Dan Aykroyd, P..."
28,Ghostbusters II,(1989),6.6,56,175822,108 min,PG,"[Action,, Comedy,, Fantasy]",Ivan Reitman,"[Bill Murray, Dan Aykroyd, Sigourney Weaver, H..."
29,Kickboxer,(1989),6.5,33,47432,97 min,R,"[Action,, Sport,, Thriller]",Mark DiSalle,"[David Worth, Jean-Claude Van Damme, Dennis Al..."
30,Born on the Fourth of July,(1989),7.2,75,93566,145 min,R,"[Biography,, Drama,, War]",Oliver Stone,"[Tom Cruise, Bryan Larkin, Raymond J. Barry, C..."
31,National Lampoon's Christmas Vacation,(1989),7.6,49,146793,97 min,PG-13,[Comedy],Jeremiah S. Chechik,"[Chevy Chase, Beverly D'Angelo, Juliette Lewis..."
32,Turner & Hooch,(1989),6.2,36,61361,97 min,PG,"[Comedy,, Crime,, Drama]",Roger Spottiswoode,"[Tom Hanks, Mare Winningham, Craig T. Nelson, ..."
33,My Left Foot,(1989),7.9,97,64228,103 min,R,"[Biography,, Drama]",Jim Sheridan,"[Daniel Day-Lewis, Brenda Fricker, Alison Whel..."
34,The Wizard,(1989),6.1,23,13310,100 min,PG,"[Adventure,, Comedy,, Drama]",Todd Holland,"[Fred Savage, Luke Edwards, Jenny Lewis, Vince..."
35,Always,(1989),6.4,50,26915,122 min,PG,"[Drama,, Fantasy,, Romance]",Steven Spielberg,"[Richard Dreyfuss, Holly Hunter, Brad Johnson,..."
36,Weekend at Bernie's,(1989),6.4,32,46345,97 min,PG-13,"[Adventure,, Comedy,, Crime]",Ted Kotcheff,"[Andrew McCarthy, Jonathan Silverman, Catherin..."
37,"The Cook, the Thief, His Wife & Her Lover",(1989),7.6,62,33228,124 min,NC-17,"[Crime,, Drama]",Peter Greenaway,"[Richard Bohringer, Michael Gambon, Helen Mirr..."
38,Tango & Cash,(1989),6.4,41,92402,104 min,R,"[Action,, Comedy,, Crime]",Andrey Konchalovskiy,"[Albert Magnoli, Sylvester Stallone, Kurt Russ..."
39,The Karate Kid Part III,(1989),5.2,36,46282,112 min,PG,"[Action,, Drama,, Family]",John G. Avildsen,"[Ralph Macchio, Pat Morita, Robyn Lively, Thom..."
40,Look Who's Talking,(1989),5.9,51,74866,93 min,PG-13,[Comedy],Amy Heckerling,"[John Travolta, Kirstie Alley, Olympia Dukakis..."
41,Star Trek V: The Final Frontier,(1989),5.5,43,53938,107 min,PG,"[Action,, Adventure,, Fantasy]",William Shatner,"[William Shatner, Leonard Nimoy, DeForest Kell..."
42,Cyborg,(1989),5.1,24,27952,86 min,R,"[Action,, Sci-Fi,, Thriller]",Albert Pyun,"[Jean-Claude Van Damme, Deborah Richter, Vince..."
43,Black Rain,(1989),6.7,56,47433,125 min,R,"[Action,, Crime,, Thriller]",Ridley Scott,"[Michael Douglas, Andy Garcia, Ken Takakura, K..."
44,Lean on Me,(1989),7.4,58,17295,108 min,PG-13,[Drama],John G. Avildsen,"[Morgan Freeman, Beverly Todd, Robert Guillaum..."
45,Friday the 13th Part VIII: Jason Takes Manhattan,(1989),4.6,14,31523,100 min,R,"[Adventure,, Horror,, Thriller]",Rob Hedden,"[Jensen Daggett, Kane Hodder, Todd Caldecott, ..."
46,"See No Evil, Hear No Evil",(1989),6.9,44,46212,103 min,R,"[Comedy,, Crime]",Arthur Hiller,"[Richard Pryor, Gene Wilder, Joan Severance, K..."
47,Sea of Love,(1989),6.8,66,36289,113 min,R,"[Crime,, Drama,, Mystery]",Harold Becker,"[Al Pacino, Ellen Barkin, John Goodman, Michae..."

In [915]:
#url = 'https://www.imdb.com/search/keyword/?mode=advanced&page=1&ref_=kw_nxt&sort=year,desc&title_type=movie&genres=Sci-Fi&release_date=1979%2C2019'
url = 'https://www.imdb.com/search/keyword/?mode=advanced&page=1&ref_=kw_ref_yr&title_type=movie&release_date=1989%2C2019&sort=year,asc&num_votes=10000%2C'

In [916]:
#pages = [str(i) for i in range(1, 161)] 
pages = [str(i) for i in range(1, 139)] #138 pages

In [413]:
from warnings import warn

warn("Warning Simulation")

/Users/johnlee/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Warning Simulation
  This is separate from the ipykernel package so we can avoid doing imports until

In [468]:
import time

In [918]:
#pages = [str(i) for i in range(1, 161)] 
pages = [str(i) for i in range(1, 139)] #138 pages

In [919]:
names = []
years = []
imdb_ratings = []
metascores = []
votes = []
runtimes = []
certificates = []
genres = []
directors = []
stars = []

start_time = time.time()
requests = 0

for page in pages:

    # Make a get request
    response = get('https://www.imdb.com/search/keyword/?mode=advanced&page=' + page +  
                   '&ref_=kw_nxt&title_type=movie&release_date=1989%2C2019&sort=year,asc&num_votes=10000%2C')
    
    # Pause the loop
    time.sleep(random.randint(2,8))

    # Monitor the requests
    requests += 1
    elapsed_time = time.time() - start_time
    print('Request:{}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
    clear_output(wait = True)

    # Throw a warning for non-200 status codes
    if response.status_code != 200:
        warn('Request: {}; Status code: {}'.format(requests, response.status_code))

    # Break the loop if the number of requests is greater than expected
    if requests > 200:
        warn('Number of requests was greater than expected.')
        break

    # Parse the content of the request with BeautifulSoup
    soup = BeautifulSoup(response.text, 'lxml') # html.parser

    # Select all the 50 movie containers from a single page
    movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')

    # For every movie of these 50
    for container in movie_containers:
        # If the movie has a Metascore, then:
        #if container.find('div', class_ = 'ratings-metascore') is not None:

            # Scrape the name
            name = container.h3.a.text
            names.append(name)

            # Scrape the year
            year = container.h3.find('span', class_ = 'lister-item-year').text
            years.append(year)
            
            # Scrape the IMDB rating
            imdb = container.strong
            if imdb:
                imdb_ratings.append(float(imdb.text))
            else:
                imdb = 'no stars given'
                imdb_ratings.append(imdb)

            # Scrape the Metascore
            m_score = container.find('span', class_ = 'metascore')
            if m_score:
                metascores.append(int(m_score.text))
            else:
                m_score = 'no metascore'
                metascores.append(m_score)

            # Scrape the number of votes
            vote = container.find('span', attrs = {'name':'nv'})
            if vote:
                vote = vote['data-value']
                votes.append(int(vote))
            else:
                vote = 'no votes'
                votes.append(vote)
            
            # Scrape the runtime
            runtime = container.find('p', class_='text-muted').find('span', class_='runtime')
            if runtime:
                runtimes.append(runtime.text)
            else:
                runtime = 'no runtime'
                runtimes.append(runtime)

            # Scrape the certificate            
            certificate = container.find('p', class_='text-muted').find('span', class_='certificate')
            #certificate = container.find('p', class_='text-muted').find('span', class_='certificate').text
            if certificate:
                certificates.append(certificate.text)
            else:
                certificate = 'not rated'
                certificates.append(certificate)

            # Scrape the genre
            genre = container.find('p', class_='text-muted').find('span', class_='genre')
            if genre:
                genres.append(genre.text.split())
            else:
                genre = 'no genre'
                genres.append(genre)

            # Scrape the name of the director
            director = container.find('div', class_='lister-item-content').find('p', class_="").a # picks up only one director
            if director:
                directors.append(director.text)
            else:
                director = 'no director'
                directors.append(director)

            # Scrape the names of the stars
            star = container.find('div', class_='lister-item-content').find('p', class_="").find_all('a') # may pick up any co-directors
            if star:
                star = star[1:]
                star = [a.text for a in star]   
                stars.append(star)
            else:            
                star = 'no stars'
                stars.append(star)                                    
        
print((time.time()-start_time)/60, "minutes")

15.770182899634044 minutes

In [921]:
imdb_data = pd.DataFrame({'movie': names,
'year': years,
'imdb': imdb_ratings,
'metascore': metascores,
'votes': votes,
'runtime': runtimes,
'certificate': certificates,
'genre': genres,                          
'director': directors,
'stars': stars                    
})

print(imdb_data.info())
imdb_data.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6864 entries, 0 to 6863
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie        6864 non-null   object
 1   year         6864 non-null   object
 2   imdb         6864 non-null   float64
 3   metascore    6864 non-null   object
 4   votes        6864 non-null   int64
 5   runtime      6864 non-null   object
 6   certificate  6864 non-null   object
 7   genre        6864 non-null   object
 8   director     6864 non-null   object
 9   stars        6864 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 536.4+ KB
None

,movie,year,imdb,metascore,votes,runtime,certificate,genre,director,stars
3143,No Reservations,(2007),6.3,50,68500,104 min,PG,"[Comedy,, Drama,, Romance]",Scott Hicks,"[Catherine Zeta-Jones, Aaron Eckhart, Abigail ..."
3419,The Secret Life of Bees,(2008),7.3,57,23354,114 min,PG-13,[Drama],Gina Prince-Bythewood,"[Dakota Fanning, Jennifer Hudson, Queen Latifa..."
2631,Must Love Dogs,(2005),5.9,46,29843,98 min,PG-13,"[Comedy,, Romance]",Gary David Goldberg,"[Diane Lane, John Cusack, Elizabeth Perkins, C..."
1321,A Midsummer Night's Dream,(1999),6.4,61,23814,116 min,PG-13,"[Comedy,, Fantasy,, Romance]",Michael Hoffman,"[Kevin Kline, Michelle Pfeiffer, Rupert Everet..."
1615,Lara Croft: Tomb Raider,(2001),5.8,33,192151,100 min,PG-13,"[Action,, Adventure,, Fantasy]",Simon West,"[Angelina Jolie, Jon Voight, Iain Glen, Noah T..."
2512,Cinderella Man,(2005),8.0,69,170969,144 min,PG-13,"[Biography,, Drama,, History]",Ron Howard,"[Russell Crowe, Ren√©e Zellweger, Craig Bierko,..."
4646,Jab Tak Hai Jaan,(2012),6.7,no metascore,49575,176 min,Not Rated,"[Drama,, Romance]",Yash Chopra,"[Shah Rukh Khan, Katrina Kaif, Anushka Sharma,..."
2209,Howl's Moving Castle,(2004),8.2,80,302834,119 min,PG,"[Animation,, Adventure,, Family]",Hayao Miyazaki,"[Chieko Baish√¥, Takuya Kimura, Tatsuya Gash√ªin..."
370,Radio Flyer,(1992),7.0,no metascore,11953,114 min,PG-13,[Drama],Richard Donner,"[David Mickey Evans, Lorraine Bracco, John Hea..."
4920,21 & Over,(2013),5.8,34,70444,93 min,R,[Comedy],Jon Lucas,"[Scott Moore, Miles Teller, Justin Chon, Jonat..."

In [923]:
imdb_data.to_pickle('imdb_scraped_data.pkl')  # where to save it, usually as a .pkl

In [ ]:
imdb_data = pd.read_pickle('imdb_scraped_data.pkl') # load the dataframe

In [924]:
imdb_data.sort_values(by='votes',ascending=False).head()

,movie,year,imdb,metascore,votes,runtime,certificate,genre,director,stars
515,The Shawshank Redemption,(1994),9.3,80,2216839,142 min,R,[Drama],Frank Darabont,"[Tim Robbins, Morgan Freeman, Bob Gunton, Will..."
3298,The Dark Knight,(2008),9.0,84,2193484,152 min,PG-13,"[Action,, Crime,, Drama]",Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart, ..."
3899,Inception,(2010),8.8,74,1943744,148 min,PG-13,"[Action,, Adventure,, Sci-Fi]",Christopher Nolan,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle..."
1231,Fight Club,(1999),8.8,66,1768050,139 min,R,[Drama],David Fincher,"[Brad Pitt, Edward Norton, Meat Loaf, Zach Gre..."
516,Pulp Fiction,(1994),8.9,94,1739947,154 min,R,"[Crime,, Drama]",Quentin Tarantino,"[John Travolta, Uma Thurman, Samuel L. Jackson..."

Consider engineering the following features:
* Number of genres 
* Length of movie title
* Number of male/female stars (or ratio)

Now scrape in domestic sales from the-numbers site

In [578]:
url = 'http://www.the-numbers.com/movie/budgets/all'
response = get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [585]:
movie_table = soup.find('table')
print(type(movie_tables))
print(len(movie_tables))

<class 'bs4.element.Tag'>
203

In [586]:
print(movie_table.prettify())

<table>
 <tr>
  <th>
  </th>
  <th>
   Release
   <br/>
   Date
  </th>
  <th>
   Movie
  </th>
  <th>
   Production
   <br/>
   Budget
  </th>
  <th>
   Domestic
   <br/>
   Gross
  </th>
  <th>
   Worldwide
   <br/>
   Gross
  </th>
 </tr>
 <tr>
  <td class="data">
   1
  </td>
  <td>
   <a href="/box-office-chart/daily/2019/04/23">
    Apr 23, 2019
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Avengers-Endgame-(2019)#tab=summary">
     Avengers: Endgame
    </a>
   </b>
  </td>
  <td class="data">
   $400,000,000
  </td>
  <td class="data">
   $858,373,000
  </td>
  <td class="data">
   $2,797,800,564
  </td>
 </tr>
 <tr>
  <td class="data">
   2
  </td>
  <td>
   <a href="/box-office-chart/daily/2011/05/20">
    May 20, 2011
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Pirates-of-the-Caribbean-On-Stranger-Tides#tab=summary">
     Pirates of the Caribbean: On Stranger Tides
    </a>
   </b>
  </td>
  <td class="data">
   $379,000,000
  </td>
  <td class="data">
   $241,063,875
  </td>
  <td class="data">
   $1,045,663,875
  </td>
 </tr>
 <tr>
  <td class="data">
   3
  </td>
  <td>
   <a href="/box-office-chart/daily/2015/04/22">
    Apr 22, 2015
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Avengers-Age-of-Ultron#tab=summary">
     Avengers: Age of Ultron
    </a>
   </b>
  </td>
  <td class="data">
   $365,000,000
  </td>
  <td class="data">
   $459,005,868
  </td>
  <td class="data">
   $1,403,013,963
  </td>
 </tr>
 <tr>
  <td class="data">
   4
  </td>
  <td>
   <a href="/box-office-chart/daily/2015/12/16">
    Dec 16, 2015
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Star-Wars-Ep-VII-The-Force-Awakens#tab=summary">
     Star Wars Ep. VII: The Force Awakens
    </a>
   </b>
  </td>
  <td class="data">
   $306,000,000
  </td>
  <td class="data">
   $936,662,225
  </td>
  <td class="data">
   $2,068,223,624
  </td>
 </tr>
 <tr>
  <td class="data">
   5
  </td>
  <td>
   <a href="/box-office-chart/daily/2018/04/25">
    Apr 25, 2018
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Avengers-Infinity-War#tab=summary">
     Avengers: Infinity War
    </a>
   </b>
  </td>
  <td class="data">
   $300,000,000
  </td>
  <td class="data">
   $678,815,482
  </td>
  <td class="data">
   $2,048,359,754
  </td>
 </tr>
 <tr>
  <td class="data">
   6
  </td>
  <td>
   <a href="/box-office-chart/daily/2007/05/24">
    May 24, 2007
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Pirates-of-the-Caribbean-At-Worlds-End#tab=summary">
     Pirates of the Caribbean: At World√¢¬Ä¬ôs End
    </a>
   </b>
  </td>
  <td class="data">
   $300,000,000
  </td>
  <td class="data">
   $309,420,425
  </td>
  <td class="data">
   $963,420,425
  </td>
 </tr>
 <tr>
  <td class="data">
   7
  </td>
  <td>
   <a href="/box-office-chart/daily/2017/11/13">
    Nov 13, 2017
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Justice-League-(2017)#tab=summary">
     Justice League
    </a>
   </b>
  </td>
  <td class="data">
   $300,000,000
  </td>
  <td class="data">
   $229,024,295
  </td>
  <td class="data">
   $655,945,209
  </td>
 </tr>
 <tr>
  <td class="data">
   8
  </td>
  <td>
   <a href="/box-office-chart/daily/2015/10/06">
    Oct 6, 2015
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Spectre#tab=summary">
     Spectre
    </a>
   </b>
  </td>
  <td class="data">
   $300,000,000
  </td>
  <td class="data">
   $200,074,175
  </td>
  <td class="data">
   $879,620,923
  </td>
 </tr>
 <tr>
  <td class="data">
   9
  </td>
  <td>
   <a href="/box-office-chart/daily/2019/12/18">
    Dec 18, 2019
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Star-Wars-The-Rise-of-Skywalker-(2019)#tab=summary">
     Star Wars: The Rise of Skywalker
    </a>
   </b>
  </td>
  <td class="data">
   $275,000,000
  </td>
  <td class="data">
   $515,202,542
  </td>
  <td class="data">
   $1,074,141,030
  </td>
 </tr>
 <tr>
  <td class="data">
   10
  </td>
  <td>
   <a href="/box-office-chart/daily/2018/05/23">
    May 23, 2018
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Solo-A-Star-Wars-Story#tab=summary">
     Solo: A Star Wars Story
    </a>
   </b>
  </td>
  <td class="data">
   $275,000,000
  </td>
  <td class="data">
   $213,767,512
  </td>
  <td class="data">
   $393,151,347
  </td>
 </tr>
 <tr>
  <td class="data">
   11
  </td>
  <td>
   <a href="/box-office-chart/daily/2012/03/07">
    Mar 7, 2012
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/John-Carter-of-Mars#tab=summary">
     John Carter
    </a>
   </b>
  </td>
  <td class="data">
   $263,700,000
  </td>
  <td class="data">
   $73,058,679
  </td>
  <td class="data">
   $282,778,100
  </td>
 </tr>
 <tr>
  <td class="data">
   12
  </td>
  <td>
   <a href="/box-office-chart/daily/2016/03/23">
    Mar 23, 2016
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Batman-v-Superman-Dawn-of-Justice#tab=summary">
     Batman v Superman: Dawn of Justice
    </a>
   </b>
  </td>
  <td class="data">
   $263,000,000
  </td>
  <td class="data">
   $330,360,194
  </td>
  <td class="data">
   $873,634,919
  </td>
 </tr>
 <tr>
  <td class="data">
   13
  </td>
  <td>
   <a href="/box-office-chart/daily/2019/07/11">
    Jul 11, 2019
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Lion-King-The-(Live-Action)-(2019)#tab=summary">
     The Lion King
    </a>
   </b>
  </td>
  <td class="data">
   $260,000,000
  </td>
  <td class="data">
   $543,638,043
  </td>
  <td class="data">
   $1,656,943,394
  </td>
 </tr>
 <tr>
  <td class="data">
   14
  </td>
  <td>
   <a href="/box-office-chart/daily/2010/11/24">
    Nov 24, 2010
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Tangled#tab=summary">
     Tangled
    </a>
   </b>
  </td>
  <td class="data">
   $260,000,000
  </td>
  <td class="data">
   $200,821,936
  </td>
  <td class="data">
   $585,727,091
  </td>
 </tr>
 <tr>
  <td class="data">
   15
  </td>
  <td>
   <a href="/box-office-chart/daily/2007/05/04">
    May 4, 2007
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Spider-Man-3#tab=summary">
     Spider-Man 3
    </a>
   </b>
  </td>
  <td class="data">
   $258,000,000
  </td>
  <td class="data">
   $336,530,303
  </td>
  <td class="data">
   $894,860,230
  </td>
 </tr>
 <tr>
  <td class="data">
   16
  </td>
  <td>
   <a href="/box-office-chart/daily/2016/04/22">
    Apr 22, 2016
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Captain-America-Civil-War#tab=summary">
     Captain America: Civil War
    </a>
   </b>
  </td>
  <td class="data">
   $250,000,000
  </td>
  <td class="data">
   $408,084,349
  </td>
  <td class="data">
   $1,153,284,349
  </td>
 </tr>
 <tr>
  <td class="data">
   17
  </td>
  <td>
   <a href="/box-office-chart/daily/2009/07/15">
    Jul 15, 2009
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Harry-Potter-and-the-Half-Blood-Prince#tab=summary">
     Harry Potter and the Half-Blood Prince
    </a>
   </b>
  </td>
  <td class="data">
   $250,000,000
  </td>
  <td class="data">
   $302,089,278
  </td>
  <td class="data">
   $935,213,767
  </td>
 </tr>
 <tr>
  <td class="data">
   18
  </td>
  <td>
   <a href="/box-office-chart/daily/2013/12/13">
    Dec 13, 2013
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Hobbit-The-Desolation-of-Smaug-The#tab=summary">
     The Hobbit: The Desolation of Smaug
    </a>
   </b>
  </td>
  <td class="data">
   $250,000,000
  </td>
  <td class="data">
   $258,241,522
  </td>
  <td class="data">
   $960,241,522
  </td>
 </tr>
 <tr>
  <td class="data">
   19
  </td>
  <td>
   <a href="/box-office-chart/daily/2014/12/10">
    Dec 10, 2014
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Hobbit-The-Battle-of-the-Five-Armies-The#tab=summary">
     The Hobbit: The Battle of the Five Armies
    </a>
   </b>
  </td>
  <td class="data">
   $250,000,000
  </td>
  <td class="data">
   $255,119,788
  </td>
  <td class="data">
   $945,577,621
  </td>
 </tr>
 <tr>
  <td class="data">
   20
  </td>
  <td>
   <a href="/box-office-chart/daily/2017/04/07">
    Apr 7, 2017
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Fate-of-the-Furious-The#tab=summary">
     The Fate of the Furious
    </a>
   </b>
  </td>
  <td class="data">
   $250,000,000
  </td>
  <td class="data">
   $225,764,765
  </td>
  <td class="data">
   $1,238,764,765
  </td>
 </tr>
 <tr>
  <td class="data">
   21
  </td>
  <td>
   <a href="/box-office-chart/daily/2020/11/12">
    Nov 12, 2020
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/No-Time-to-Die#tab=summary">
     No Time to Die
    </a>
   </b>
  </td>
  <td class="data">
   $250,000,000
  </td>
  <td class="data">
   $0
  </td>
  <td class="data">
   $0
  </td>
 </tr>
 <tr>
  <td class="data">
   22
  </td>
  <td>
   <a href="/box-office-chart/daily/2009/12/17">
    Dec 17, 2009
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Avatar#tab=summary">
     Avatar
    </a>
   </b>
  </td>
  <td class="data">
   $237,000,000
  </td>
  <td class="data">
   $760,507,625
  </td>
  <td class="data">
   $2,788,701,337
  </td>
 </tr>
 <tr>
  <td class="data">
   23
  </td>
  <td>
   <a href="/box-office-chart/daily/2006/06/28">
    Jun 28, 2006
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Superman-Returns#tab=summary">
     Superman Returns
    </a>
   </b>
  </td>
  <td class="data">
   $232,000,000
  </td>
  <td class="data">
   $200,120,000
  </td>
  <td class="data">
   $391,081,192
  </td>
 </tr>
 <tr>
  <td class="data">
   24
  </td>
  <td>
   <a href="/box-office-chart/daily/2012/07/19">
    Jul 19, 2012
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Dark-Knight-Rises-The#tab=summary">
     The Dark Knight Rises
    </a>
   </b>
  </td>
  <td class="data">
   $230,000,000
  </td>
  <td class="data">
   $448,139,099
  </td>
  <td class="data">
   $1,084,439,099
  </td>
 </tr>
 <tr>
  <td class="data">
   25
  </td>
  <td>
   <a href="/box-office-chart/daily/2017/05/23">
    May 23, 2017
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Pirates-of-the-Caribbean-Dead-Men-Tell-No-Tales#tab=summary">
     Pirates of the Caribbean: Dead Men Tell No Tales
    </a>
   </b>
  </td>
  <td class="data">
   $230,000,000
  </td>
  <td class="data">
   $172,558,876
  </td>
  <td class="data">
   $788,241,137
  </td>
 </tr>
 <tr>
  <td class="data">
   26
  </td>
  <td>
   <a href="/box-office-chart/daily/2008/11/14">
    Nov 14, 2008
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Quantum-of-Solace#tab=summary">
     Quantum of Solace
    </a>
   </b>
  </td>
  <td class="data">
   $230,000,000
  </td>
  <td class="data">
   $169,368,427
  </td>
  <td class="data">
   $591,692,078
  </td>
 </tr>
 <tr>
  <td class="data">
   27
  </td>
  <td>
   <a href="/box-office-chart/daily/2012/04/25">
    Apr 25, 2012
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Avengers-The-(2012)#tab=summary">
     The Avengers
    </a>
   </b>
  </td>
  <td class="data">
   $225,000,000
  </td>
  <td class="data">
   $623,357,910
  </td>
  <td class="data">
   $1,518,812,988
  </td>
 </tr>
 <tr>
  <td class="data">
   28
  </td>
  <td>
   <a href="/box-office-chart/daily/2006/07/07">
    Jul 7, 2006
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Pirates-of-the-Caribbean-Dead-Mans-Chest#tab=summary">
     Pirates of the Caribbean: Dead Man√¢¬Ä¬ôs Chest
    </a>
   </b>
  </td>
  <td class="data">
   $225,000,000
  </td>
  <td class="data">
   $423,315,812
  </td>
  <td class="data">
   $1,066,215,812
  </td>
 </tr>
 <tr>
  <td class="data">
   29
  </td>
  <td>
   <a href="/box-office-chart/daily/2013/06/14">
    Jun 14, 2013
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Man-of-Steel#tab=summary">
     Man of Steel
    </a>
   </b>
  </td>
  <td class="data">
   $225,000,000
  </td>
  <td class="data">
   $291,045,518
  </td>
  <td class="data">
   $667,999,518
  </td>
 </tr>
 <tr>
  <td class="data">
   30
  </td>
  <td>
   <a href="/box-office-chart/daily/2008/05/16">
    May 16, 2008
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Chronicles-of-Narnia-Prince-Caspian-The#tab=summary">
     The Chronicles of Narnia: Prince Caspian
    </a>
   </b>
  </td>
  <td class="data">
   $225,000,000
  </td>
  <td class="data">
   $141,621,490
  </td>
  <td class="data">
   $417,341,288
  </td>
 </tr>
 <tr>
  <td class="data">
   31
  </td>
  <td>
   <a href="/box-office-chart/daily/2013/07/02">
    Jul 2, 2013
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Lone-Ranger-The#tab=summary">
     The Lone Ranger
    </a>
   </b>
  </td>
  <td class="data">
   $225,000,000
  </td>
  <td class="data">
   $89,302,115
  </td>
  <td class="data">
   $260,002,115
  </td>
 </tr>
 <tr>
  <td class="data">
   32
  </td>
  <td>
   <a href="/box-office-chart/daily/2020/07/17">
    Jul 17, 2020
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Tenet-(2020)#tab=summary">
     Tenet
    </a>
   </b>
  </td>
  <td class="data">
   $224,000,000
  </td>
  <td class="data">
   $0
  </td>
  <td class="data">
   $0
  </td>
 </tr>
 <tr>
  <td class="data">
   33
  </td>
  <td>
   <a href="/box-office-chart/daily/2012/06/27">
    Jun 27, 2012
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Amazing-Spider-Man-The#tab=summary">
     The Amazing Spider-Man
    </a>
   </b>
  </td>
  <td class="data">
   $220,000,000
  </td>
  <td class="data">
   $262,030,663
  </td>
  <td class="data">
   $757,890,267
  </td>
 </tr>
 <tr>
  <td class="data">
   34
  </td>
  <td>
   <a href="/box-office-chart/daily/2012/04/11">
    Apr 11, 2012
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Battleship#tab=summary">
     Battleship
    </a>
   </b>
  </td>
  <td class="data">
   $220,000,000
  </td>
  <td class="data">
   $65,233,400
  </td>
  <td class="data">
   $313,477,717
  </td>
 </tr>
 <tr>
  <td class="data">
   35
  </td>
  <td>
   <a href="/box-office-chart/daily/2017/06/20">
    Jun 20, 2017
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Transformers-The-Last-Knight#tab=summary">
     Transformers: The Last Knight
    </a>
   </b>
  </td>
  <td class="data">
   $217,000,000
  </td>
  <td class="data">
   $130,168,683
  </td>
  <td class="data">
   $602,893,340
  </td>
 </tr>
 <tr>
  <td class="data">
   36
  </td>
  <td>
   <a href="/box-office-chart/daily/2015/06/09">
    Jun 9, 2015
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Jurassic-World#tab=summary">
     Jurassic World
    </a>
   </b>
  </td>
  <td class="data">
   $215,000,000
  </td>
  <td class="data">
   $652,270,625
  </td>
  <td class="data">
   $1,670,400,637
  </td>
 </tr>
 <tr>
  <td class="data">
   37
  </td>
  <td>
   <a href="/box-office-chart/daily/2012/05/23">
    May 23, 2012
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Men-in-Black-3#tab=summary">
     Men in Black 3
    </a>
   </b>
  </td>
  <td class="data">
   $215,000,000
  </td>
  <td class="data">
   $179,020,854
  </td>
  <td class="data">
   $654,213,485
  </td>
 </tr>
 <tr>
  <td class="data">
   38
  </td>
  <td>
   <a href="/box-office-chart/daily/2009/06/24">
    Jun 24, 2009
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Transformers-Revenge-of-the-Fallen#tab=summary">
     Transformers: Revenge of the Fallen
    </a>
   </b>
  </td>
  <td class="data">
   $210,000,000
  </td>
  <td class="data">
   $402,111,870
  </td>
  <td class="data">
   $836,519,699
  </td>
 </tr>
 <tr>
  <td class="data">
   39
  </td>
  <td>
   <a href="/box-office-chart/daily/2014/06/25">
    Jun 25, 2014
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Transformers-Age-of-Extinction#tab=summary">
     Transformers: Age of Extinction
    </a>
   </b>
  </td>
  <td class="data">
   $210,000,000
  </td>
  <td class="data">
   $245,439,076
  </td>
  <td class="data">
   $1,104,054,072
  </td>
 </tr>
 <tr>
  <td class="data">
   40
  </td>
  <td>
   <a href="/box-office-chart/daily/2006/05/26">
    May 26, 2006
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/X-Men-The-Last-Stand#tab=summary">
     X-Men: The Last Stand
    </a>
   </b>
  </td>
  <td class="data">
   $210,000,000
  </td>
  <td class="data">
   $234,362,462
  </td>
  <td class="data">
   $459,260,946
  </td>
 </tr>
 <tr>
  <td class="data">
   41
  </td>
  <td>
   <a href="/box-office-chart/daily/2010/05/14">
    May 14, 2010
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Robin-Hood-(2010)#tab=summary">
     Robin Hood
    </a>
   </b>
  </td>
  <td class="data">
   $210,000,000
  </td>
  <td class="data">
   $105,487,148
  </td>
  <td class="data">
   $322,459,006
  </td>
 </tr>
 <tr>
  <td class="data">
   42
  </td>
  <td>
   <a href="/box-office-chart/daily/2005/12/14">
    Dec 14, 2005
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/King-Kong-(2005)#tab=summary">
     King Kong
    </a>
   </b>
  </td>
  <td class="data">
   $207,000,000
  </td>
  <td class="data">
   $218,080,025
  </td>
  <td class="data">
   $550,517,357
  </td>
 </tr>
 <tr>
  <td class="data">
   43
  </td>
  <td>
   <a href="/box-office-chart/daily/2007/12/07">
    Dec 7, 2007
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/His-Dark-Materials-The-Golden-Compass#tab=summary">
     The Golden Compass
    </a>
   </b>
  </td>
  <td class="data">
   $205,000,000
  </td>
  <td class="data">
   $70,107,728
  </td>
  <td class="data">
   $367,262,558
  </td>
 </tr>
 <tr>
  <td class="data">
   44
  </td>
  <td>
   <a href="/box-office-chart/daily/2018/02/13">
    Feb 13, 2018
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Black-Panther#tab=summary">
     Black Panther
    </a>
   </b>
  </td>
  <td class="data">
   $200,000,000
  </td>
  <td class="data">
   $700,059,566
  </td>
  <td class="data">
   $1,346,913,161
  </td>
 </tr>
 <tr>
  <td class="data">
   45
  </td>
  <td>
   <a href="/box-office-chart/daily/1997/12/19">
    Dec 19, 1997
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Titanic-(1997)#tab=summary">
     Titanic
    </a>
   </b>
  </td>
  <td class="data">
   $200,000,000
  </td>
  <td class="data">
   $659,363,944
  </td>
  <td class="data">
   $2,208,208,395
  </td>
 </tr>
 <tr>
  <td class="data">
   46
  </td>
  <td>
   <a href="/box-office-chart/daily/2017/12/13">
    Dec 13, 2017
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Star-Wars-Ep-VIII-The-Last-Jedi#tab=summary">
     Star Wars Ep. VIII: The Last Jedi
    </a>
   </b>
  </td>
  <td class="data">
   $200,000,000
  </td>
  <td class="data">
   $620,181,382
  </td>
  <td class="data">
   $1,332,539,889
  </td>
 </tr>
 <tr>
  <td class="data">
   47
  </td>
  <td>
   <a href="/box-office-chart/daily/2018/06/15">
    Jun 15, 2018
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Incredibles-2#tab=summary">
     Incredibles 2
    </a>
   </b>
  </td>
  <td class="data">
   $200,000,000
  </td>
  <td class="data">
   $608,581,744
  </td>
  <td class="data">
   $1,242,805,359
  </td>
 </tr>
 <tr>
  <td class="data">
   48
  </td>
  <td>
   <a href="/box-office-chart/daily/2016/12/14">
    Dec 14, 2016
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Rogue-One-A-Star-Wars-Story#tab=summary">
     Rogue One: A Star Wars Story
    </a>
   </b>
  </td>
  <td class="data">
   $200,000,000
  </td>
  <td class="data">
   $532,177,324
  </td>
  <td class="data">
   $1,056,057,273
  </td>
 </tr>
 <tr>
  <td class="data">
   49
  </td>
  <td>
   <a href="/box-office-chart/daily/2016/06/16">
    Jun 16, 2016
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Finding-Dory#tab=summary">
     Finding Dory
    </a>
   </b>
  </td>
  <td class="data">
   $200,000,000
  </td>
  <td class="data">
   $486,295,561
  </td>
  <td class="data">
   $1,028,570,889
  </td>
 </tr>
 <tr>
  <td class="data">
   50
  </td>
  <td>
   <a href="/box-office-chart/daily/2019/06/20">
    Jun 20, 2019
   </a>
  </td>
  <td>
   <b>
    <a href="/movie/Toy-Story-4-(2019)#tab=summary">
     Toy Story 4
    </a>
   </b>
  </td>
  <td class="data">
   $200,000,000
  </td>
  <td class="data">
   $434,038,008
  </td>
  <td class="data">
   $1,073,394,813
  </td>
 </tr>
 <tr>
  <td class="data">
   51
  </td>
  <td>
   <a href="/box-office-chart/daily/2010/06/18">
    Jun 18, 2010
   </a>
  </td>

In [587]:
rows = [row for row in movie_table.find_all('tr')]  # tr tag is for rows

In [598]:
rows[1:3]

[<tr><td class="data">1</td>
 <td><a href="/box-office-chart/daily/2019/04/23">Apr 23, 2019</a></td>
 <td><b><a href="/movie/Avengers-Endgame-(2019)#tab=summary">Avengers: Endgame</a></b></td>
 <td class="data">¬†$400,000,000</td>
 <td class="data">¬†$858,373,000</td>
 <td class="data">¬†$2,797,800,564</td>
 </tr>,
 <tr><td class="data">2</td>
 <td><a href="/box-office-chart/daily/2011/05/20">May 20, 2011</a></td>
 <td><b><a href="/movie/Pirates-of-the-Caribbean-On-Stranger-Tides#tab=summary">Pirates of the Caribbean: On Stranger Tides</a></b></td>
 <td class="data">¬†$379,000,000</td>
 <td class="data">¬†$241,063,875</td>
 <td class="data">¬†$1,045,663,875</td>
 </tr>]

In [634]:
movies = {}

for row in rows[1:6]:
    items = row.find_all('td')
#     row_index = items[0]
#     release_date = items[1].find('a').text
    title = items[2].find('a').text
#     production_budget = items[3].text
#     domestic_gross = items[4].text
#     worldwide_gross = items[5].text
    movies[title] = [i.text for i in items]
    
movies

{'Avengers: Endgame': ['1',
  'Apr 23, 2019',
  'Avengers: Endgame',
  '\xa0$400,000,000',
  '\xa0$858,373,000',
  '\xa0$2,797,800,564'],
 'Pirates of the Caribbean: On Stranger Tides': ['2',
  'May 20, 2011',
  'Pirates of the Caribbean: On Stranger Tides',
  '\xa0$379,000,000',
  '\xa0$241,063,875',
  '\xa0$1,045,663,875'],
 'Avengers: Age of Ultron': ['3',
  'Apr 22, 2015',
  'Avengers: Age of Ultron',
  '\xa0$365,000,000',
  '\xa0$459,005,868',
  '\xa0$1,403,013,963'],
 'Star Wars Ep. VII: The Force Awakens': ['4',
  'Dec 16, 2015',
  'Star Wars Ep. VII: The Force Awakens',
  '\xa0$306,000,000',
  '\xa0$936,662,225',
  '\xa0$2,068,223,624'],
 'Avengers: Infinity War': ['5',
  'Apr 25, 2018',
  'Avengers: Infinity War',
  '\xa0$300,000,000',
  '\xa0$678,815,482',
  '\xa0$2,048,359,754']}

In [637]:
movies['Avengers: Infinity War']

['5',
 'Apr 25, 2018',
 'Avengers: Infinity War',
 '\xa0$300,000,000',
 '\xa0$678,815,482',
 '\xa0$2,048,359,754']

In [689]:
pages = ['/' + str(i) for i in np.arange(101, 6002, 100)] #61 pages of results
pages.insert(0, "")

#for page in pages:

    # Make a get request
 #   response = get('https://www.the-numbers.com/movie/budgets/all' + page)

In [690]:
pages

['',
 '/101',
 '/201',
 '/301',
 '/401',
 '/501',
 '/601',
 '/701',
 '/801',
 '/901',
 '/1001',
 '/1101',
 '/1201',
 '/1301',
 '/1401',
 '/1501',
 '/1601',
 '/1701',
 '/1801',
 '/1901',
 '/2001',
 '/2101',
 '/2201',
 '/2301',
 '/2401',
 '/2501',
 '/2601',
 '/2701',
 '/2801',
 '/2901',
 '/3001',
 '/3101',
 '/3201',
 '/3301',
 '/3401',
 '/3501',
 '/3601',
 '/3701',
 '/3801',
 '/3901',
 '/4001',
 '/4101',
 '/4201',
 '/4301',
 '/4401',
 '/4501',
 '/4601',
 '/4701',
 '/4801',
 '/4901',
 '/5001',
 '/5101',
 '/5201',
 '/5301',
 '/5401',
 '/5501',
 '/5601',
 '/5701',
 '/5801',
 '/5901',
 '/6001']

In [691]:
for page in pages:
    url = 'https://www.the-numbers.com/movie/budgets/all'
    var = url + page
    print(var)

https://www.the-numbers.com/movie/budgets/all
https://www.the-numbers.com/movie/budgets/all/101
https://www.the-numbers.com/movie/budgets/all/201
https://www.the-numbers.com/movie/budgets/all/301
https://www.the-numbers.com/movie/budgets/all/401
https://www.the-numbers.com/movie/budgets/all/501
https://www.the-numbers.com/movie/budgets/all/601
https://www.the-numbers.com/movie/budgets/all/701
https://www.the-numbers.com/movie/budgets/all/801
https://www.the-numbers.com/movie/budgets/all/901
https://www.the-numbers.com/movie/budgets/all/1001
https://www.the-numbers.com/movie/budgets/all/1101
https://www.the-numbers.com/movie/budgets/all/1201
https://www.the-numbers.com/movie/budgets/all/1301
https://www.the-numbers.com/movie/budgets/all/1401
https://www.the-numbers.com/movie/budgets/all/1501
https://www.the-numbers.com/movie/budgets/all/1601
https://www.the-numbers.com/movie/budgets/all/1701
https://www.the-numbers.com/movie/budgets/all/1801
https://www.the-numbers.com/movie/budgets/all/1901
https://www.the-numbers.com/movie/budgets/all/2001
https://www.the-numbers.com/movie/budgets/all/2101
https://www.the-numbers.com/movie/budgets/all/2201
https://www.the-numbers.com/movie/budgets/all/2301
https://www.the-numbers.com/movie/budgets/all/2401
https://www.the-numbers.com/movie/budgets/all/2501
https://www.the-numbers.com/movie/budgets/all/2601
https://www.the-numbers.com/movie/budgets/all/2701
https://www.the-numbers.com/movie/budgets/all/2801
https://www.the-numbers.com/movie/budgets/all/2901
https://www.the-numbers.com/movie/budgets/all/3001
https://www.the-numbers.com/movie/budgets/all/3101
https://www.the-numbers.com/movie/budgets/all/3201
https://www.the-numbers.com/movie/budgets/all/3301
https://www.the-numbers.com/movie/budgets/all/3401
https://www.the-numbers.com/movie/budgets/all/3501
https://www.the-numbers.com/movie/budgets/all/3601
https://www.the-numbers.com/movie/budgets/all/3701
https://www.the-numbers.com/movie/budgets/all/3801
https://www.the-numbers.com/movie/budgets/all/3901
https://www.the-numbers.com/movie/budgets/all/4001
https://www.the-numbers.com/movie/budgets/all/4101
https://www.the-numbers.com/movie/budgets/all/4201
https://www.the-numbers.com/movie/budgets/all/4301
https://www.the-numbers.com/movie/budgets/all/4401
https://www.the-numbers.com/movie/budgets/all/4501
https://www.the-numbers.com/movie/budgets/all/4601
https://www.the-numbers.com/movie/budgets/all/4701
https://www.the-numbers.com/movie/budgets/all/4801
https://www.the-numbers.com/movie/budgets/all/4901
https://www.the-numbers.com/movie/budgets/all/5001
https://www.the-numbers.com/movie/budgets/all/5101
https://www.the-numbers.com/movie/budgets/all/5201
https://www.the-numbers.com/movie/budgets/all/5301
https://www.the-numbers.com/movie/budgets/all/5401
https://www.the-numbers.com/movie/budgets/all/5501
https://www.the-numbers.com/movie/budgets/all/5601
https://www.the-numbers.com/movie/budgets/all/5701
https://www.the-numbers.com/movie/budgets/all/5801
https://www.the-numbers.com/movie/budgets/all/5901
https://www.the-numbers.com/movie/budgets/all/6001

In [925]:
movie_names = []
release_dates = []
production_budgets = []
domestic_grosses = []
worldwide_grosses = []

start_time = time.time()
requests = 0

pages = ['/' + str(i) for i in np.arange(101, 6002, 100)] #61 pages of results
pages.insert(0, "") #insert "" in front of list

for page in pages:

    # Make a get request
    url = 'https://www.the-numbers.com/movie/budgets/all'
    response = get(url + page)
    
    # Pause the loop
    time.sleep(random.randint(2,8))

    # Monitor the requests
    requests += 1
    elapsed_time = time.time() - start_time
    print('Request:{}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
    clear_output(wait = True)

    # Throw a warning for non-200 status codes
    if response.status_code != 200:
        warn('Request: {}; Status code: {}'.format(requests, response.status_code))

    # Break the loop if the number of requests is greater than expected
    if requests > 200:
        warn('Number of requests was greater than expected.')
        break

    # Parse the content of the request with BeautifulSoup
    soup = BeautifulSoup(response.text, 'lxml') 
    movie_table = soup.find('table')
    rows = [row for row in movie_table.find_all('tr')]
    
    for row in rows[1:101]:
        items = row.find_all('td')

        # Scrape the release date
        release_date = items[1].find('a')
        if release_date:
            release_dates.append(release_date.text)
        else:
            release_date = 'no release date'
            release_dates.append(release_date)

        # Scrape the movie name
        movie_name = items[2].find('a')
        if movie_name:
            movie_names.append(movie_name.text)
        else:
            movie_name = 'no movie name'
            movie_names.append(movie_name)

        # Scrape the production budget
        production_budget = items[3]
        if production_budget:
            production_budgets.append(production_budget.text)
        else:
            production_budget = 'no budget'
            production_budgets.append(production_budget)

        # Scrape the domestic gross
        domestic_gross = items[4]
        if domestic_gross:
            domestic_grosses.append(domestic_gross.text)
        else:
            domestic_gross = 'no domestic gross'
            domestic_grosses.append(domestic_gross)  

        # Scrape the worldwide gross
        worldwide_gross = items[5]
        if worldwide_gross:
            worldwide_grosses.append(worldwide_gross.text)
        else:
            worldwide_gross = 'no worldwide gross'
            worldwide_grosses.append(worldwide_gross)  

print((time.time()-start_time)/60, "minutes")

6.228843434651693 minutes

In [926]:
len(movie_names)

6027

In [927]:
thenumbers_data = pd.DataFrame({'movie': movie_names,
'release_date': release_dates,
'production_budget': production_budgets,
'domestic_gross': domestic_grosses,
'worldwide_gross': worldwide_grosses                    
})

print(thenumbers_data.info())
thenumbers_data.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6027 entries, 0 to 6026
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie              6027 non-null   object
 1   release_date       6027 non-null   object
 2   production_budget  6027 non-null   object
 3   domestic_gross     6027 non-null   object
 4   worldwide_gross    6027 non-null   object
dtypes: object(5)
memory usage: 235.6+ KB
None

,movie,release_date,production_budget,domestic_gross,worldwide_gross
1795,Punisher: War Zone,"Dec 5, 2008","$35,000,000","$8,050,977","$10,157,534"
2173,Spy Kids: All the Time in the World,"Aug 19, 2011","$27,000,000","$38,536,376","$80,681,183"
1150,Christmas with the Kranks,"Nov 24, 2004","$50,000,000","$73,701,902","$96,469,187"
3430,The Killer Inside Me,"Jun 18, 2010","$13,000,000","$217,277","$3,617,277"
3469,The Golden Child,"Dec 12, 1986","$12,000,000","$79,817,937","$79,817,937"
5130,The Florida Project,"Oct 6, 2017","$2,000,000","$5,904,366","$11,295,324"
335,San Andreas,"May 27, 2015","$110,000,000","$155,190,832","$456,258,539"
4585,Yoga Hosers,"Jul 29, 2016","$5,000,000",$0,"$22,958"
5357,San Francisco,"Jun 26, 1936","$1,300,000","$2,868,000","$5,273,000"
2004,Dumb and Dumberer: When Harry Met Lloyd,"Jun 13, 2003","$30,000,000","$26,214,846","$26,292,856"

In [929]:
thenumbers_data.to_pickle('thenumbers_scraped_data.pkl')

In [928]:
thenumbers_data

,movie,release_date,production_budget,domestic_gross,worldwide_gross
0,Avengers: Endgame,"Apr 23, 2019","$400,000,000","$858,373,000","$2,797,800,564"
1,Pirates of the Caribbean: On Stranger Tides,"May 20, 2011","$379,000,000","$241,063,875","$1,045,663,875"
2,Avengers: Age of Ultron,"Apr 22, 2015","$365,000,000","$459,005,868","$1,403,013,963"
3,Star Wars Ep. VII: The Force Awakens,"Dec 16, 2015","$306,000,000","$936,662,225","$2,068,223,624"
4,Avengers: Infinity War,"Apr 25, 2018","$300,000,000","$678,815,482","$2,048,359,754"
...,...,...,...,...,...
6022,Red 11,Unknown,"$7,000",$0,$0
6023,Following,"Apr 2, 1999","$6,000","$48,482","$240,495"
6024,Return to the Land of Wonders,"Jul 13, 2005","$5,000","$1,338","$1,338"
6025,A Plague So Pleasant,"Sep 29, 2015","$1,400",$0,$0
6026,My Date With Drew,"Aug 5, 2005","$1,100","$181,041","$181,041"

Now scrape top 1000 popular actors from imdb (starmeter)

In [762]:
url = 'https://www.imdb.com/search/name/?gender=male,female&ref_=rlm'
response = get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [763]:
pages = []
pages.append(url)

In [764]:
for i in np.arange(51, 952, 50):
    i = str(i)
    page = 'https://www.imdb.com/search/name/?gender=male,female&start=' + i + '&ref_=rlm'
    pages.append(page)

In [765]:
pages

['https://www.imdb.com/search/name/?gender=male,female&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=51&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=101&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=151&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=201&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=251&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=301&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=351&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=401&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=451&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=501&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=551&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=601&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=651&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=701&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=751&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=801&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=851&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=901&ref_=rlm',
 'https://www.imdb.com/search/name/?gender=male,female&start=951&ref_=rlm']

In [766]:
containers = soup.find('div', class_='lister-list')

In [770]:
print(containers.prettify())

<div class="lister-list">
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm3400186">
    <img alt="Julia Garner" height="209" src="https://m.media-amazon.com/images/M/MV5BNmU3NDRjMDEtNTQ2Ni00ZGZmLTk3ZjUtODUxMjA2NGY4NDg4XkEyXkFqcGdeQXVyMjQzMDM0NDU@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     1.
    </span>
    <a href="/name/nm3400186">
     Julia Garner
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt1441326/">
     Martha Marcy May Marlene
    </a>
   </p>
   <p>
    Julia Garner is an American actress and model. She is best known for her roles in Electrick Children (2012), We Are What We Are (2013), The Perks of Being a Wallflower (2012), Sin City: A Dame to Kill For (2014), and Grandma (2015).
    <br/>
    <br/>
    Garner also starred in the Netflix series Ozark.
    <br/>
    <br/>
    She had her ...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm1670601">
    <img alt="Tom Pelphrey" height="209" src="https://m.media-amazon.com/images/M/MV5BYmNmMjkyYzgtNGI2Ny00YTZlLWFkNjQtYmM5ZjUzYzFhZmFlXkEyXkFqcGdeQXVyNzU1OTM4ODE@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     2.
    </span>
    <a href="/name/nm1670601">
     Tom Pelphrey
    </a>
   </h3>
   <p class="text-muted text-small">
    Actor
    <span class="ghost">
     |
    </span>
    <a href="/title/tt3322310/">
     Iron Fist
    </a>
   </p>
   <p>
    Tom was born and raised in New Jersey. He grew up in the town of Howell and attended the Fine and Performing Arts Center at Howell High school. He received a BFA in Acting from Mason Gross School of the Arts at Rutgers University where he also had the opportunity to study Shakespeare at the Globe ...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm1869101">
    <img alt="Ana de Armas" height="209" src="https://m.media-amazon.com/images/M/MV5BMjA3NjYzMzE1MV5BMl5BanBnXkFtZTgwNTA4NDY4OTE@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     3.
    </span>
    <a href="/name/nm1869101">
     Ana de Armas
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt1856101/">
     Blade Runner 2049
    </a>
   </p>
   <p>
    Ana de Armas was born in Cuba on April 30, 1988. At the age of 14, she began her studies at the National Theatre School of Havana, where she graduated after 4 years. At the age of 16, she made her first film,
    <a href="/title/tt0450836">
     Una rosa de Francia
    </a>
    (2006), directed by
    <a href="/name/nm0349426">
     Manuel Guti√©rrez Arag√≥n
    </a>
    . A few titles came after ...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm2555462">
    <img alt="Eiza Gonz√°lez" height="209" src="https://m.media-amazon.com/images/M/MV5BYjI0MjU0YjgtNzRkZC00ZGNlLWEyMzMtOGM2MDEzZDFlYmRjXkEyXkFqcGdeQXVyNjA1OTA1Njk@._V1_UY209_CR14,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     4.
    </span>
    <a href="/name/nm2555462">
     Eiza Gonz√°lez
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt3890160/">
     Baby Driver
    </a>
   </p>
   <p>
    Eiza Gonz√°lez Reyna is a Mexican actress and singer. She was born on January 30, 1990 in Mexico City, Mexico, to Carlos Gonz√°lez and Glenda Reyna. Her mother is a yesteryear Mexican model. She has one elder brother, Yulen. She lost her father in a motorcycle accident when she was just 12. Later in ...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm0005216">
    <img alt="Janet McTeer" height="209" src="https://m.media-amazon.com/images/M/MV5BNzk5MzQ3MDQxOF5BMl5BanBnXkFtZTcwOTU4OTI2Mg@@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     5.
    </span>
    <a href="/name/nm0005216">
     Janet McTeer
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt1602098/">
     Albert Nobbs
    </a>
   </p>
   <p>
    Janet McTeer was born on August 5, 1961 in Newcastle, England, UK to parents Jean and Allan McTeer. She was raised in York from the age of 6. She attended Queen Anne Grammar School for Girls, where there was not much opportunity for drama. She became interested in acting at age 16, when she saw "...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm6019117">
    <img alt="Sofia Hublitz" height="209" src="https://m.media-amazon.com/images/M/MV5BNjkxYzlmZmItYjE3YS00ZmY2LThkMmQtMWJlMjE5OTViNmE1XkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_UY209_CR87,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     6.
    </span>
    <a href="/name/nm6019117">
     Sofia Hublitz
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt5071412/">
     Ozark
    </a>
   </p>
   <p>
    Sofia Hublitz (born 1999) is an American actress. She appeared with Jason Bateman and Laura Linney as their daughter, in the American television series Ozark. Sofia Hublitz made her debut television appearance in 2013, where she was one of the contestants on MasterChef Junior, finishing in 8th ...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm0939697">
    <img alt="Evan Rachel Wood" height="209" src="https://m.media-amazon.com/images/M/MV5BMTA2OTM4NDI3NTheQTJeQWpwZ15BbWU3MDA4NzI3Mjc@._V1_UY209_CR3,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     7.
    </span>
    <a href="/name/nm0939697">
     Evan Rachel Wood
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt0328538/">
     Thirteen
    </a>
   </p>
   <p>
    Evan Rachel Wood was born September 7, 1987, in Raleigh, North Carolina. Her father,
    <a href="/name/nm0202796">
     Ira David Wood III
    </a>
    , is a theatre actor, writer and director, and her mother,
    <a href="/name/nm0601856">
     Sara Wood
    </a>
    , is an actress and acting coach. She has two older brothers--
    <a href="/name/nm0939630">
     Dana Wood
    </a>
    , a musician, and
    <a href="/name/nm0939505">
     Ira David Wood IV
    </a>
    , who has also acted. ...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm6024635">
    <img alt="Shira Haas" height="209" src="https://m.media-amazon.com/images/M/MV5BN2RjMGNlNDgtMmM5Mi00NTEwLTk1MWItMDZkMGExMmM2ZmQ1XkEyXkFqcGdeQXVyNTQ4MzY4NjA@._V1_UY209_CR7,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     8.
    </span>
    <a href="/name/nm6024635">
     Shira Haas
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt6723102/">
     Broken Mirrors
    </a>
   </p>
   <p>
    Shira Haas was born on May 11, 1995 in Israel. She is an actress, known for
    <a href="/title/tt6723102">
     Broken Mirrors
    </a>
    (2018),
    <a href="/title/tt1603900">
     Princess
    </a>
    (2014) and
    <a href="/title/tt8665606">
     Pere Atzil
    </a>
    (2018).
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm0001473">
    <img alt="Laura Linney" height="209" src="https://m.media-amazon.com/images/M/MV5BMTMyMDc3Mzc2M15BMl5BanBnXkFtZTcwMjc5OTcyMg@@._V1_UY209_CR5,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     9.
    </span>
    <a href="/name/nm0001473">
     Laura Linney
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt1515193/">
     The Big C
    </a>
   </p>
   <p>
    Laura Leggett Linney was born in New York City on February 5, 1964, into a theatre family. Her father was prominent playwright
    <a href="/name/nm1742205">
     Romulus Linney
    </a>
    , whose own great-grandfather was a congressman from North Carolina. Her mother, Miriam Anderson (Leggett), is a nurse. Although she did not live in her ...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm3053338">
    <img alt="Margot Robbie" height="209" src="https://m.media-amazon.com/images/M/MV5BMTgxNDcwMzU2Nl5BMl5BanBnXkFtZTcwNDc4NzkzOQ@@._V1_UY209_CR8,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     10.
    </span>
    <a href="/name/nm3053338">
     Margot Robbie
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt1386697/">
     Suicide Squad
    </a>
   </p>
   <p>
    Margot Elise Robbie was born on July 2, 1990 in Dalby, Queensland, Australia to Scottish parents. Her mother,
    <a href="/name/nm3957590">
     Sarie Kessler
    </a>
    , is a physiotherapist, and her father, is Doug Robbie. She comes from a family of four children, having two brothers and one sister. She graduated from Somerset College in ...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm2365811">
    <img alt="Betty Gilpin" height="209" src="https://m.media-amazon.com/images/M/MV5BMTY3NDY3NjM5OV5BMl5BanBnXkFtZTgwNTQ0NTUzNjM@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     11.
    </span>
    <a href="/name/nm2365811">
     Betty Gilpin
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt8244784/">
     The Hunt
    </a>
   </p>
   <p>
    Betty Gilpin was born on July 21, 1986 in the USA as Elizabeth Folan Gilpin. She is an actress, known for
    <a href="/title/tt8244784">
     The Hunt
    </a>
    (2020),
    <a href="/title/tt2452244">
     Isn't It Romantic
    </a>
    (2019) and
    <a href="/title/tt5770786">
     GLOW
    </a>
    (2017). She has been married to
    <a href="/name/nm1505027">
     Cosmo Pfeil
    </a>
    since August 6, 2016.
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm0000867">
    <img alt="Jason Bateman" height="209" src="https://m.media-amazon.com/images/M/MV5BMTMwOTQ0MDUyNF5BMl5BanBnXkFtZTcwNTQ1MzY1Mw@@._V1_UY209_CR12,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     12.
    </span>
    <a href="/name/nm0000867">
     Jason Bateman
    </a>
   </h3>
   <p class="text-muted text-small">
    Actor
    <span class="ghost">
     |
    </span>
    <a href="/title/tt0367279/">
     Arrested Development
    </a>
   </p>
   <p>
    Jason Bateman is an American film and television actor, known for his role as Michael Bluth on the television sitcom
    <a href="/title/tt0367279">
     Arrested Development
    </a>
    (2003), as well as his role on
    <a href="/title/tt0090540">
     Valerie
    </a>
    (1986).
    <br/>
    <br/>
    He was born in Rye, New York. His father,
    <a href="/name/nm0060809">
     Kent Bateman
    </a>
    , from a Utah-based family, is a film and television director...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm0413087">
    <img alt="Andrew Jack" height="209" src="https://m.media-amazon.com/images/M/MV5BMTU0NzExNzQ5MV5BMl5BanBnXkFtZTgwODQ5MjE0OTE@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     13.
    </span>
    <a href="/name/nm0413087">
     Andrew Jack
    </a>
   </h3>
   <p class="text-muted text-small">
    Actor
    <span class="ghost">
     |
    </span>
    <a href="/title/tt2488496/">
     Star Wars: Episode VII - The Force Awakens
    </a>
   </p>
   <p>
    Andrew Jack was born on January 28, 1944 in London, England as Andrew Hutchinson. He is known for his work on
    <a href="/title/tt2488496">
     Star Wars: Episode VII - The Force Awakens
    </a>
    (2015),
    <a href="/title/tt4154796">
     Avengers: Endgame
    </a>
    (2019) and
    <a href="/title/tt0988045">
     Sherlock Holmes
    </a>
    (2009). He was married to
    <a href="/name/nm1317460">
     Gabrielle Rogers
    </a>
    ,
    <a href="/name/nm1531955">
     Paula Jack
    </a>
    and Felicity Hutchinson. He died on ...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm0256318">
    <img alt="Lisa Emery" height="209" src="https://m.media-amazon.com/images/M/MV5BMTYyMzQ5MTUyNF5BMl5BanBnXkFtZTgwODI0OTIyNjM@._V1_UX140_CR0,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     14.
    </span>
    <a href="/name/nm0256318">
     Lisa Emery
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt1814621/">
     Admission
    </a>
   </p>
   <p>
    Lisa Emery was born on January 29, 1952 in Pittsburgh, Pennsylvania, USA. She is an actress, known for
    <a href="/title/tt1814621">
     Admission
    </a>
    (2013),
    <a href="/title/tt0250797">
     Unfaithful
    </a>
    (2002) and
    <a href="/title/tt0111742">
     Wolf
    </a>
    (1994). She was previously married to
    <a href="/name/nm0656929">
     Josh Pais
    </a>
    .
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm2253071">
    <img alt="Charlie Tahan" height="209" src="https://m.media-amazon.com/images/M/MV5BNGM4MjRjMjUtYzRiMC00OWU2LThmNWItYmUxNDljMDczYTA5XkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_UY209_CR10,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     15.
    </span>
    <a href="/name/nm2253071">
     Charlie Tahan
    </a>
   </h3>
   <p class="text-muted text-small">
    Actor
    <span class="ghost">
     |
    </span>
    <a href="/title/tt5071412/">
     Ozark
    </a>
   </p>
   <p>
    Charlie Tahan was born on June 11, 1998 in Glen Rock, New Jersey, USA as Charles Tahan. He is an actor, known for
    <a href="/title/tt5071412">
     Ozark
    </a>
    (2017),
    <a href="/title/tt0480249">
     I Am Legend
    </a>
    (2007) and
    <a href="/title/tt1142977">
     Frankenweenie
    </a>
    (2012).
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm2394794">
    <img alt="Karen Gillan" height="209" src="https://m.media-amazon.com/images/M/MV5BMTQwMDQ0NDk1OV5BMl5BanBnXkFtZTcwNDcxOTExNg@@._V1_UY209_CR2,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     16.
    </span>
    <a href="/name/nm2394794">
     Karen Gillan
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt3549044/">
     Selfie
    </a>
   </p>
   <p>
    Karen Sheila Gillan was born and raised in Inverness, Scotland, as the only child of Marie Paterson and husband John Gillan, who is a singer and recording artist. She developed a love for acting very early on, attending several youth theatre groups and taking part in a wide range of productions at ...
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm0050959">
    <img alt="Pedro Pascal" height="209" src="https://m.media-amazon.com/images/M/MV5BMWNhMGM3ODMtOTMzNS00OTZjLWEyZWMtYmRkZDczZDg4N2QzXkEyXkFqcGdeQXVyMjI0OTExNzk@._V1_UY209_CR6,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     17.
    </span>
    <a href="/name/nm0050959">
     Pedro Pascal
    </a>
   </h3>
   <p class="text-muted text-small">
    Actor
    <span class="ghost">
     |
    </span>
    <a href="/title/tt0944947/">
     Game of Thrones
    </a>
   </p>
   <p>
    Pedro Pascal is a Chilean-born American actor. He is best known for portraying the roles of Oberyn Martell in the fourth season of the HBO series Game of Thrones and Javier Pe√±a in the Netflix series Narcos.
    <br/>
    <br/>
    In 2016 he starred in the American-Chinese film The Great Wall alongside Matt Damon.
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm3069650">
    <img alt="Jodie Comer" height="209" src="https://m.media-amazon.com/images/M/MV5BZmViMjQxYTUtZDExNy00NjU1LWI4MmEtY2RhODRkMzNkODM1XkEyXkFqcGdeQXVyNjkwNzEwMzY@._V1_UY209_CR37,0,140,209_AL_.jpg" width="140"/>
   </a>
  </div>
  <div class="lister-item-content">
   <h3 class="lister-item-header">
    <span class="lister-item-index unbold text-primary">
     18.
    </span>
    <a href="/name/nm3069650">
     Jodie Comer
    </a>
   </h3>
   <p class="text-muted text-small">
    Actress
    <span class="ghost">
     |
    </span>
    <a href="/title/tt7016936/">
     Killing Eve
    </a>
   </p>
   <p>
    Jodie Comer was born on March 11, 1993 in Liverpool, Merseyside, England. She is known for her work on
    <a href="/title/tt7016936">
     Killing Eve
    </a>
    (2018),
    <a href="/title/tt2527338">
     Star Wars: Episode IX - The Rise of Skywalker
    </a>
    (2019) and
    <a href="/title/tt6264654">
     Free Guy
    </a>
    (2020).
   </p>
  </div>
 </div>
 <div class="lister-item mode-detail">
  <div class="lister-item-image">
   <a href="/name/nm1998498">
    <img alt="Helena Mattsson" height="209" src="https://m.media-amazon.com/images/M/MV5BNGQ0OWY0NzQtODUwNy00NjgzLTlkMzMtY2Q2OWE5MjkwNTBkXkEyXkFqcGdeQXVyNzU5NTQ5MQ@@._V1_UY209_CR13,0,140,209_AL_.jpg" width="140"/>

In [ ]:
star_name = containers.find('img', alt=True)['alt']

In [772]:
star_ranking = containers.find('span', class_="lister-item-index").text

'1. '

In [809]:
actor_or_actress = containers.find('p', class_='text-muted').find(text=True, recursive=False)

'\n                         Actress '

In [901]:
star_names = []
star_rankings = []
actor_or_actresses = []

start_time = time.time()
requests = 0

pages = []
first_page = 'https://www.imdb.com/search/name/?gender=male,female&ref_=rlm'
pages.append(first_page)
pagerange = [str(i) for i in np.arange(51, 952, 50)] #51, 952, 50 

for page in pagerange: 
    page = 'https://www.imdb.com/search/name/?gender=male,female&start=' + page + '&ref_=rlm'                                   
    pages.append(page)

for page in pages:

    # Make a get request
    #url = 'https://www.imdb.com/search/name/?gender=male,female&ref_=rlm'
    response = get(page)
    
    # Pause the loop
    time.sleep(random.randint(2,8))

    # Monitor the requests
    requests += 1
    elapsed_time = time.time() - start_time
    print('Request:{}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
    clear_output(wait = True)

    # Throw a warning for non-200 status codes
    if response.status_code != 200:
        warn('Request: {}; Status code: {}'.format(requests, response.status_code))

    # Break the loop if the number of requests is greater than expected
    if requests > 200:
        warn('Number of requests was greater than expected.')
        break

    # Parse the content of the request with BeautifulSoup
    soup = BeautifulSoup(response.text, 'lxml') 
    containers = soup.find_all('div', class_='lister-item')
    
    for container in containers:
        # Scrape the star's name
        star_name = container.find('img', alt=True)['alt']
        if star_name:
            star_names.append(star_name)
        else:
            star_name = 'no name'
            star_names.append(star_name)

        # Scrape the star's ranking
        star_ranking = container.find('span', class_="lister-item-index")
        if star_ranking:
            star_rankings.append(star_ranking.text)
        else:
            star_ranking = 'no ranking'
            star_rankings.append(star_ranking)

        # Scrape if star is actor or actress
        actor_or_actress = container.find('p', class_='text-muted').find(text=True, recursive=False)    
        if actor_or_actress:
            actor_or_actresses.append(actor_or_actress)
        else:
            actor_or_actress = 'no type'
            actor_or_actresses.append(actor_or_actress)
 
print((time.time()-start_time)/60, "minutes")

2.0943224668502807 minutes

In [903]:
star_ranking_data = pd.DataFrame({'star_name': star_names,
'star_ranking': star_rankings,
'actor_or_actress': actor_or_actresses,
})

print(star_ranking_data.info())
star_ranking_data.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   star_name         1000 non-null   object
 1   star_ranking      1000 non-null   object
 2   actor_or_actress  1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB
None

               star_name star_ranking                      actor_or_actress
944  Haley Lu Richardson        945.    \n                         Actress
479   Aras Bulut Iynemli        480.      \n                         Actor
513       Tobias Menzies        514.      \n                         Actor
444         Andrew Scott        445.      \n                         Actor
440      Ivana Milicevic        441.    \n                         Actress
861       Drew Barrymore        862.   \n                         Producer
558       Larisa Oleynik        559.    \n                         Actress
510          Essie Davis        511.    \n                         Actress
618        Laura Harrier        619.    \n                         Actress
65          Henry Cavill         66.      \n                         Actor

In [904]:
sys.setrecursionlimit(10000)

In [905]:
star_ranking_data.to_pickle('star_scraped_data.pkl')